<div class="bs-example" data-example-id="bordered-table" ng-controller="goodsController">
    <table id="tab" class="table table-bordered">
      <thead>
        <tr>
        	<th ng-repeat="(columnName, columnValue) in data[0]" ng-bind="dictionary[columnName][language]">
          <th>操作</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr" ng-repeat="good in data | limitTo : pagerows : (pageindex - 1) * pagerows"" ngID="{{good['id']}}" ng-click="trClick(good, $index, $event)">
            <td class="td" ng-bind="good.id"></td>
            <td class="td" ng-bind="good.proName"></td>
            <td class="td" ng-bind="good.price"></td>
            <td class="img"><img ng-src="{{good['img']}}" /></td>
            <td><button ng-click="add(evt)">添加</button></td>
            <td><button ng-click="del()">删除</button></td>
        </tr>
      </tbody>
      <tfoot>
            <tr id="tf">
                <td colspan="{{colspan + 2}}">
                    <button ng-repeat="p in [] | range: pagecount" ng-bind="p" class="{{p == pageindex ? 'active' : ''}}" ng-click="page(p)"></botton>
                </td>
            </tr>
       </tfoot>
    </table>
  </div>
  <div id="change">
  	
  </div>
	
<script type="text/javascript">
	indexapp.register.controller('goodsController', ['$scope', '$http','$attrs', function ($scope, $http,$attrs) {

    $http.post('list.php').success(function(response){
        $scope.data = response;
        $scope.colspan = 0;
        for (var key in $scope.data[0]) {
            $scope.colspan += 1;
        }

        //每页显示 5 行
        $scope.pagerows = 5;
        $scope.pageindex = 1;
        $scope.pagecount = Math.ceil($scope.data.length / $scope.pagerows);
    })

    $scope.page = function (_index) {
        $scope.pageindex = _index;
    }
    
    $scope.del = function(){
    	$http.get('del.php').success(function(response){
    		console.log(response)
    	})
    }
    $scope.add = function(_event){
//  	$http.get('del.php').success(function(response){
//  		console.log(response)
//  	})
		$scope.id = "aa";
//		var tr = "<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>";
//		$('#tab').append(tr);
//		console.log(123)
		$('.tr2').hide()
    }
    $scope.trClick = function (_tr, _index, _event) {
        $(_event.target).closest('tr').toggleClass('tr-selected').siblings('tr').removeClass('tr-selected');
        
    }
    
	$http.get('libs/dictionary/pdictionary.txt').success(function(response) {
		$scope.dictionary = response;
	})
	$scope.language = "cn";
}]);
</script>

